{{> header}}

<div class="handbook">
    <div class="handbook__sidebar">
        <div class="menu">
            <h1>
                SIDEBAR
            </h1>
        </div>
    </div>
    <div class="handbook__main">
        <div class="container">
            <div class="col-md-12">
                {{> kitchen-sink}}

            </div>
        </div>
    </div>
</div>

{{> footer}}