$color-red:            #ff0044;
$color-red-dark:       #e14949;
$color-orange:         #f7b500;
$color-blue:           #03b8f8;
$color-teal:           #29d3be;
$color-grey:           #575756;
$color-grey-light:     #f8f7f5;
$color-grey-mid:       #cecece;
$color-grey-dark:      #2d2d2d;

a{
  color: $color-red;

  &:visited{
    color: $color-red-dark;
  }
}

blockquote{
  color: $color-grey-dark;
}