$vars_handbook: (
    sidebar-width: 375px
);

.handbook{
  width:100%;
  display: flex;
  flex-flow: row nowrap;

  .handbook__sidebar{
    width:map-get($vars_handbook, sidebar-width);
    flex: 1 auto;

    background-color: #3C3D3E;
    color: white;
  }
  .handbook__main{
    flex: 1 auto;

    background-color: white;
  }
}