$vars_handbook: (sidebar-width: 375px);

.handbook {
  width: 100%;

  @media only screen and (min-width: $breakpoint-main-content-menu-2-min) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .handbook__sidebar {
    width: map-get($vars_handbook, sidebar-width);
    min-height: 100vh;
    overflow-y: scroll;

    @media only screen and (min-width: $breakpoint-main-content-menu-2-min) {
      flex-grow: 0;
      flex-shrink: 0;
    }
    padding: 45px;

    background-color: #edeee9;
    color: #000;
  }
  .handbook__main {
    @media only screen and (min-width: $breakpoint-main-content-menu-2-min) {
      flex: 1 auto;
    }
    margin: 0 auto;
    padding: 45px;
    align-items: flex-start;

    background-color: white;

    .handbook__main__content {
      width: 100%;
      max-width: 770px;
      margin: 0 auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
